<html>
<head>
   <link rel='stylesheet' type='text/css' href='rubyjobs.css'/>
</head>
<body>
   <h1>RubyJobs.heroku.com</h1>
   
   <form action='/search'>
      <input type='text' name='q'/>
      <button>Search</button>
   </form>
   
   <% @jobs.each do |job| %>
      <h2>
         <a class='job_title' href="<%= job.link %>"><%= job.title %></a>
         posted on <%= job.published %>
         at <a href="<%= job.feed %>"><%= job.feed %></a>
      </h2>
      <p><%# job.posting %></p>
   <% end %>
</body>
</html>